[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
pytest-asyncio = "*"
aioredis = "*"
autopep8 = "*"

[packages]
aiohttp = "*"
uvloop = "*"
parsel = "*"
aiofiles = "*"
cchardet = "*"

[requires]
python_version = "3.6"
